/*
 *The below css is taken from w3schools.com 
 *https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_filter_list
 */

input.article_search {
  /*background-image: url('/css/searchicon.png');*/
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 10px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

/*table.article_list {*/
  /*list-style-type: none;*/
  /*padding: 0;*/
  /*margin: 0;*/
/*}*/

/*table.article_list tr th td {*/
  /*border: 1px solid #ddd;*/
  /*margin-top: -1px; [> Prevent double borders <]*/
  /*background-color: #f6f6f6;*/
  /*padding: 12px;*/
  /*text-decoration: none;*/
  /*font-size: 18px;*/
  /*color: black;*/
  /*display: block*/
/*}*/

/*ul.article_list li a:hover:not(.header) {*/
  /*background-color: #eee;*/
/*}*/

tr:nth-child(even){
    background: rgba(0, 0, 0, 0.2);
}

thead{
    background: rgba(0, 0, 0, 0.8);
    color: white;
}

tr {
    width: 100%;
    display: inline-table;
    height:60px;
    table-layout: fixed;
}

table{
    background: rgba(0, 0, 0, 0.2);
    height:19em;
    display: -moz-groupbox;
    text-align: center;
    color: white;
}

tbody{
    overflow-y: scroll;
    height: 15em;
    width: 100%;
    position: absolute;
}
