html, body {
    font-family: 'Raleway', sans-serif;
    height: 100%;
    letter-spacing: .03em;
}
/*-------------------*/
/*Menu Bar bootstrapped*/
/*-------------------*/

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}

/*.icon {*/
    /*background-image: url("resources/glyphicons_free/glyphicons-social/png/glyphicons-social-22-github.png");*/
    /*background-position: 24px 24px;*/
    /*background-repeat: no-repeat;*/
    /*display: inline-block;*/
    /*height: 28px;*/
    /*line-height: 28px;*/
    /*vertical-align: text-bottom;*/
    /*width: 28px;*/
/*}*/

/*-------------------*/
/*Articles*/
/*-------------------*/

/*
 *Horizontal Rule found from:
 *https://gist.github.com/cptx032/0f7fe530a5df977d6410c1ea1bf85ecf
 */

/*hr {*/
    /*border: 0;*/
    /*height: 1px;*/
    /*background: #333;*/
    /*background: -webkit-gradient(linear, left top, right top, color-stop(0%,hsla(0,0%,0%,0)), color-stop(50%,hsla(0,0%,0%,.75)), color-stop(100%,hsla(0,0%,0%,0)));*/
    /*background: -webkit-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,100%,.75) 50%, hsla(0,0%,0%,0) 100%);*/
    /*background:    -moz-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,100%,.75) 50%, hsla(0,0%,0%,0) 100%);*/
    /*background:     -ms-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,100%,.75) 50%, hsla(0,0%,0%,0) 100%);*/
    /*background:      -o-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,100%,.75) 50%, hsla(0,0%,0%,0) 100%);*/
    /*background:         linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,100%,.75) 50%, hsla(0,0%,0%,0) 100%);*/
/*}*/

