#main-page-text {
    background: rgba(0, 0, 0, 0.65);
}

#main-page-jumbo {
    color: white;
    background-image: url('/resources/images/main-page-banner.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

