{{define "title"}}Articles{{end}}

{{define "head"}} 
    <link href="/static/stylesheets/articles.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{{end}}

{{define "body"}}

<br>
<br>
<h2>Articles</h2>

<input type="text" id="article_search" class="article_search" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

<div id="ArticleDiv"></div>

<script>

var someList = [
    { FirstName: 'Byron', LastName: 'Seto' },
    { FirstName: 'Hi', LastName: 'Test' },
    { FirstName: 'Another', LastName: 'Test' }
];

$('#ArticleDiv').append("<ul id='article_list' class='article_list'></ul>");
for (cnt = 0; cnt < someList.length; cnt++) {
    $("#article_list").append("<li><a href='#'>"+someList[cnt].FirstName + ":" + someList[cnt].LastName+"</li>");
}
function myFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("article_search");
    filter = input.value.toUpperCase();
    ul = document.getElementById("article_list");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";

        }
    }
}

</script>

{{end}}

