{{define "title"}}Articles{{end}}

{{define "head"}} 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="/resources/stylesheets/articles.css" rel="stylesheet">
    <script src="/resources/js/articles.js" type="text/javascript"></script>
{{end}}

{{define "body"}}

<br>
<br>
<h2>Articles</h2>

<div class="container-fluid">
<input type="text" id="article_search" class="article_search" onkeyup="filterArticles()" placeholder="Search for names.." title="Type in a name">
</div>
<div class="container-fluid">
<div class="list-group" id="ArticleDiv"></div>
</div>

{{end}}

