{{define "body"}}

<div class="kpop_parallax1">
    <div class="parallax_overlay">
        <h1>Korean Pop</h1>
        <p class=title>A website dedicated to some of the most notable South Korean pop stars</p>
    </div>
</div>
<div class="sj_parallax4">
    <div class="parallax_overlay">
        <h1>Sojin</h1>
        <p class=title>Park So-jin</p>
    </div>
</div>
<div class="iu_parallax1">
    <div class="parallax_overlay">
        <h1>IU</h1>
        <p class=title> Lee Ji Eun </p>
    </div>
</div>
<div class="jp_parallax1">
    <div class="parallax_overlay">
        <h1>Jay Park</h1>
        <p class=title>Park Jae-beom</p>
    </div>
</div>


{{end}}

{{define "title"}}Home{{end}}
