{{define "head"}}
    <link href="/static/stylesheets/home.css" rel="stylesheet">
{{end}}


{{define "body"}}

<div class="byron_parallax">
    <div class="parallax_dark_overlay">
        <h1>Byron Seto</h1>
        <p class=title>Welcome to my Blog!</p>
        <hr>
        <p>
        My name is Byron Seto
        <br>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum neque eu velit consectetur, sit amet mattis est auctor. Nulla laoreet ipsum luctus ante aliquam, sed fermentum libero pulvinar. Praesent iaculis id leo non sollicitudin. Mauris tempus aliquet est, vel convallis mauris pharetra vel. Morbi tincidunt magna tempus odio lobortis, consectetur fermentum dui feugiat. Ut consectetur placerat felis id laoreet. Donec sed quam at libero scelerisque laoreet vitae sed justo. Donec ut orci nunc. Sed dapibus ipsum et aliquet fermentum. Mauris tempus, massa ut interdum scelerisque, sem arcu facilisis urna, vitae feugiat metus arcu ac justo. Donec vitae arcu eget lacus tincidunt bibendum. Nullam ipsum ligula, accumsan in tellus id, efficitur venenatis ligula. Suspendisse vitae ipsum id libero placerat tempor. Praesent commodo imperdiet erat vitae blandit. Fusce volutpat nisl vel varius viverra. Maecenas vehicula consectetur massa, non sollicitudin turpis auctor ut.

Aliquam maximus consequat augue, eleifend iaculis magna convallis vel. In imperdiet velit nulla, nec malesuada felis mattis vitae. Quisque imperdiet ac odio eu euismod. Sed at magna in mi maximus auctor non quis leo. Nulla facilisi. Ut tristique tellus quis vestibulum auctor. In molestie lobortis interdum. Ut nisi enim, mollis at ornare tempus, mattis eu enim. Suspendisse potenti. Mauris vitae convallis enim. Nunc hendrerit hendrerit nisi et bibendum. Maecenas nisl lacus, fermentum at malesuada vitae, imperdiet ac nulla. Aliquam ut pulvinar risus. Fusce eget consectetur sapien, sit amet fermentum eros. In laoreet mattis nunc, sit amet suscipit metus. Suspendisse potenti.
        
        </p>
    </div>
</div>
<div class="solarcar_parallax">
    <div class="parallax_overlay">
        <h1>Solar Car</h1>
        <p class=title>My experience in the University of Calgary Solar Car Team</p>

        <hr>
        <p>Aliquam maximus consequat augue, eleifend iaculis magna convallis vel. In imperdiet velit nulla, nec malesuada felis mattis vitae. Quisque imperdiet ac odio eu euismod. Sed at magna in mi maximus auctor non quis leo. Nulla facilisi. Ut tristique tellus quis vestibulum auctor. In molestie lobortis interdum. Ut nisi enim, mollis at ornare tempus, mattis eu enim. Suspendisse potenti. Mauris vitae convallis enim. Nunc hendrerit hendrerit nisi et bibendum. Maecenas nisl lacus, fermentum at malesuada vitae, imperdiet ac nulla. Aliquam ut pulvinar risus. Fusce eget consectetur sapien, sit amet fermentum eros. In laoreet mattis nunc, sit amet suscipit metus. Suspendisse potenti.
        </p>
        <!--<iframe width=1000 height=700 src="https://www.youtube.com/embed/HRmpgV8xyw0?start=39" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->
    </div>
</div>
<div class="linux_parallax">
    <div class="parallax_overlay">
        <h1>Principles of Operating Systems</h1>
        <p class=title>My first introduction to Linux</p>
        <hr>
        <p>Aliquam maximus consequat augue, eleifend iaculis magna convallis vel. In imperdiet velit nulla, nec malesuada felis mattis vitae. Quisque imperdiet ac odio eu euismod. Sed at magna in mi maximus auctor non quis leo. Nulla facilisi. Ut tristique tellus quis vestibulum auctor. In molestie lobortis interdum. Ut nisi enim, mollis at ornare tempus, mattis eu enim. Suspendisse potenti. Mauris vitae convallis enim. Nunc hendrerit hendrerit nisi et bibendum. Maecenas nisl lacus, fermentum at malesuada vitae, imperdiet ac nulla. Aliquam ut pulvinar risus. Fusce eget consectetur sapien, sit amet fermentum eros. In laoreet mattis nunc, sit amet suscipit metus. Suspendisse potenti.
        </p>
    </div>
</div>
<div class="linux_parallax">
    <div class="parallax_overlay">
        <h1>Terminal Fighter</h1>
        <p class=title>A Group Effort C++/SDL2.0 Game</p>
        <hr>
        <p>Aliquam maximus consequat augue, eleifend iaculis magna convallis vel. In imperdiet velit nulla, nec malesuada felis mattis vitae. Quisque imperdiet ac odio eu euismod. Sed at magna in mi maximus auctor non quis leo. Nulla facilisi. Ut tristique tellus quis vestibulum auctor. In molestie lobortis interdum. Ut nisi enim, mollis at ornare tempus, mattis eu enim. Suspendisse potenti. Mauris vitae convallis enim. Nunc hendrerit hendrerit nisi et bibendum. Maecenas nisl lacus, fermentum at malesuada vitae, imperdiet ac nulla. Aliquam ut pulvinar risus. Fusce eget consectetur sapien, sit amet fermentum eros. In laoreet mattis nunc, sit amet suscipit metus. Suspendisse potenti.
        </p>
    </div>
</div>

{{end}}

{{define "title"}}Home{{end}}
