{{define "head"}}
    <link href="/resources/stylesheets/home.css" rel="stylesheet">
{{end}}


{{define "body"}}

<div class="jumbotron" id="main-page-jumbo">
  <div class="container text-center" id="main-page-text">
    <h1>Byron Seto</h1>      
    <p>Avid Believer in Personal Growth</p>
  </div>
</div>

<div class="container-fluid bg-3 text-center">    
  <h1>Projects</h1><br>
  <div class="row">
    <div class="col-sm-4">
      <p>Terminal Fighter</p>
      <img src="/resources/images/terminal-fighter-gameplay-small.gif" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4"> 
      <p>SolarCar Backup Camera</p>
      <img src="/resources/images/solarcar-delta.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4"> 
      <p>GPU Passthrough Ubuntu 17.04</p>
	  <img src="/resources/images/gpu_passthrough/gpu_passthrough_ubuntu_mini.png" class="img-responsive" style="width:100%" alt="Image">
    </div>
  </div>
</div><br>


{{end}}

{{define "title"}}Home{{end}}
